@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@keyframes showImage {
    0% {
        opacity: 0;
        transform: translate(0, 24px) scale(0.95);
        clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%);
    } 
    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
        clip-path: polygon(100% 0%, 0 0, 0 100%, 100% 100%);
    }
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0%);
    }
}

:root {
    --font-dark: #232323;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-kerning: normal;
    font-size: 2rem;
    line-height: 1.5;
    background-color: #ffffff;

    padding-bottom: 100vh;
}

body.is-loading {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

section.wrapper {
    position: relative;
    z-index: 777;
    background-color: #ffffff;
}

div.wiper {
    background-color: #000000;
    height: 0%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}

div.textwrapper {
    height: 125%;
    overflow: hidden;
}

section.hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 7.5vh;
    width: 100%;
    padding: 1.2vw;
    padding-top: 12.5vh;
    margin-bottom: 12rem;
}

section.hero div.headline {
    grid-column: 1 / span 3;
    height: 100%;
    overflow: hidden;
}

section.hero div.headline p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 19.003rem;
    line-height: 0.82;
    letter-spacing: -0.075em;
    margin-top: 1.5rem;
}

section.hero div.subheadline {
    grid-column: 4 / span 3;
    grid-row: 2;
    height: 100%;
    overflow: hidden;
}

section.hero div.subheadline h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 4.11rem;
    line-height: 1.125;
    letter-spacing: -0.0375em;
}

section.hero figure {
    grid-column: 1 / span 2;
    position: relative;
    height: 0;
    padding-top: 133%;
    overflow: hidden;
}

section.hero figure img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%);
} 

div.sticky-nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.6vw 1.2vw;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    z-index: 666;
}

div.sticky-nav nav a {
    font-size: 2.027rem;
    text-decoration: none;
    color: #000000;
}

section.about {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 24px;
    padding: 1.2vw;
    background-color: #000000;
    color: #fff;
    
    padding-top: 12.5vh;
    padding-bottom: 120px;
}

section.about div.section-headline {
    grid-column: 1 / span 2;
}

section.about div.section-headline p {
    font-size: 15.014rem;
    line-height: 0.85;
    letter-spacing: -0.05em;
    margin-top: 1.5rem;
    transform: translate(0, 100%);
}

section.about div.section-subheadline {
    grid-column: 4 / span 3;
    grid-row: 2;
}

section.about div.section-subheadline h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.887rem;
    line-height: 1.15;
    letter-spacing: -0.035em;
    transform: translate(0, 100%);
}

section.about figure {
    grid-column: 1 / span 2;
    grid-row: 3;
    
    height: 0;
    padding-top: 133%;
    position: relative
}

section.about figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.about ul {
    grid-column: 4 / span 4;
    grid-row: 3;
    
    padding-top: 12rem;
}

section.about ul li {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}

section.about ul li span,
section.about ul li p {
    font-size: 3.653rem;
    line-height: 1.25;
}

section.about ul li span {
    grid-column: 1;
    letter-spacing: -0.05em;
}

section.about ul li p {
    grid-column: 2;
}

section.kompetenzen {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2.4rem;
    padding: 1.2vw;
    background-color: #EAEAEA;
    color: #131212;
    
    padding-top: 12.5vh;
    padding-bottom: 120px;
}

section.kompetenzen div.headline {
    grid-column: 1 / span 3;
}

section.kompetenzen div.headline p {
    font-size: 15.014rem;
    line-height: 0.8;
    letter-spacing: -0.05em;
}

section.kompetenzen div.subheadline {
    grid-column: 1 / span 3;
    grid-row: 2;
}

section.kompetenzen div.subheadline h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.887rem;
    line-height: 1.15;
    letter-spacing: -0.035em;
    
    padding-top: 8rem;
}

section.kompetenzen figure {
    grid-column: 5 / span 1;
    grid-row: 2;
    
    padding-top: 100%;
    height: 0;
    position: relative
}

section.kompetenzen figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.kompetenzen div.table {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8rem;
    grid-column-gap: 4rem;
    margin-top: 4rem;
}

section.kompetenzen div.table div.table-column h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.802rem;
    margin-bottom: 2.4rem;
    font-weight: 500;
}

section.kompetenzen div h4::before {
    content: '';
    width: 1.4rem;
    height: 1.4rem;
    background-color: black;
    border-radius: 7px;
    margin-right: .8rem;
    display: inline-block;
}

section.kompetenzen div ul li {
    font-size: 2.887rem;
    line-height: 1.275;
    font-weight: 500;
    letter-spacing: -0.025em;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
    border-top: 1px solid black;
}

section.kompetenzen div ul li:last-child {
    border-bottom: 1px solid black;
}

section.termine {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2.4rem;
    padding: 1.2vw;
    background-color: #000000;;
    color: #636363;
    
    padding-top: 12.5vh;
    padding-bottom: 120px;
}

section.termine p {
    font-size: 15.014rem;
    line-height: 0.8;
    letter-spacing: -0.05em;
    
    grid-column: 1 / span 2;
}

section.termine h2 {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.887rem;
    line-height: 1.15;
    letter-spacing: -0.035em;
    
    padding-top: 8rem;
}

section.termine figure {
    grid-column: 5 / span 1;
    grid-row: 2;
    
    padding-top: 100%;
    height: 0;
    position: relative
}

section.termine figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.termine div.termine-table {
    grid-column: 1 / span 4;
    grid-row: 3;
    margin-right: 2.4rem;
    margin-bottom: 8rem;
}

section.termine div.termine-table__cell {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 3fr 1fr;
    align-items: start;
    
    margin-bottom: .8rem;
    line-height: 1.15;
}
section.termine div.termine-table__cell div {
    padding-right: 2.4rem;
}

section.termine div.termine-table__cell div.download {
    display: inline-flex;
    align-items: center;
}

section.termine div.termine-table__cell div.download svg {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .8rem;
    fill: currentColor;
}

section.termine div.termine-table__cell p {
    font-size: 1.266rem;
    font-weight: 500;
    text-transform: uppercase;
    grid-column: span 1;
    margin-bottom: 2.4rem;
    letter-spacing: 0;
}

section.referenzen {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 24px;
    padding: 1.2vw;
    background-color: #fff;
    color: #000;
    
    padding-top: 12.5vh;
    padding-bottom: 6.4rem;
}

section.referenzen p {
    font-size: 15.014rem;
    line-height: 0.85;
    letter-spacing: -0.05em;
    
    grid-column: 1 / span 2;
}

section.referenzen h2 {
    grid-column: 4 / span 2;
    grid-row: 2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.887rem;
    line-height: 1.15;
    letter-spacing: -0.035em;
}

section.referenzen figure {
    grid-column: 1 / span 2;
    grid-row: 3;
    
    height: 0;
    padding-top: 133%;
    position: relative
}

section.referenzen figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.referenzen ul {
    grid-column: 4 / span 4;
    grid-row: 3;
    
    padding-top: 12rem;
}

section.referenzen ul li {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
}

section.referenzen ul li span,
section.referenzen ul li p {
    font-size: 3.653rem;
    line-height: 1.25;
}

section.referenzen ul li span {
    grid-column: 1;
    letter-spacing: -0.05em;
}

section.referenzen ul li p {
    grid-column: 2;
}

section figure.in-view img {
    animation: showImage 1s 0.4s both cubic-bezier(0.68,-0.55,0.27,1.55);
}

section div.textwrapper.in-view p {
    animation: showText 1s 0.4s both cubic-bezier(0.08,0.82,0.17,1);
}

section div.textwrapper.in-view h2 {
    animation: showText 1s 0.4s both cubic-bezier(0.08,0.82,0.17,1);
}

footer.footer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 666;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

footer.footer div.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
}

footer.footer div.footer__content div.footer__content__left {
    width: 100vw;
}

footer.footer div.footer__content div.footer__content__right {
    padding: 1.2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

footer.footer div.footer__content div.footer__content__right h4.small-headline {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2px;
    margin-bottom: .2rem;
}

footer.footer div.footer__content div.footer__content__right p {
    margin-bottom: 2.4rem;
    font-size: 3.653rem;
    line-height: 1.35;
}

footer.footer div.footer__content div.footer__content__right div.footer__content__cell a {
    color: #ffffff;
    margin-bottom: 2.4rem;
    font-size: 3.653rem;
    line-height: 1.35;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .3s ease-out;
}

footer.footer div.footer__content div.footer__content__right a:hover {
    opacity: .6;
}

footer.footer div.footer__links {
    display: flex;
    justify-content: space-between;
}

footer.footer div.footer__links p {
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: .2px;
}

@media only screen and (max-width: 102.4rem) {

    div.hero__right,
    div.cv__portrait,
    div.kompetenzen__portrait,
    div.referenzen__portrait {
        width: 40vw;
        height: 94vh;
        margin-top: 6vh;
        position: fixed;
        right: 0;
        top: 0;
        overflow: hidden;
    }

    div.hero__left div.hero__left__content p.hero__left__title {
        margin-bottom: 1.6rem;
    }

    div.hero__left div.hero__left__content h1.hero__left__headline {
        font-size: 3.247rem;
        line-height: 1.25;
        max-width: 96rem;
        margin-bottom: 1.6rem;
    }

    div.hero__left div.hero__left__content h4.hero__left__subline {
        font-size: 2.281rem;
        line-height: 1.4;
        max-width: 96rem;
    }

    div.hero__left p.hero__left__scroll {
        font-size: 1.2rem;
    }

    h2.headline {
        font-size: 3.653rem;
        margin-bottom: .8rem;
    }

    p.copy {
        font-size: 1.602rem;
        margin-bottom: 2.4rem;
    }

    section.cv div.cv__wrapper div.cv__logos {
        padding-top: 4rem;
    }

    section.cv div.cv__wrapper div.cv__cell p {
        font-size: 1.802rem;
        line-height: 1.35;
    }

    section.cv div.cv__wrapper div.cv__logos img {
        max-width: 12rem;
        mix-blend-mode: darken;
    }

    p.chapter {
        margin-bottom: 1.6rem;
    }

    section.kompetenzen div.kompetenzen__wrapper h3.kompetenzen__headline span.dot {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .8rem;
    }

    section.kompetenzen div.kompetenzen__wrapper h3.kompetenzen__headline {
        font-size: 2.027rem;
    }

    section.kompetenzen div.kompetenzen__wrapper div.kompetenzen__cell p {
        font-size: 1.602rem;
    }

    section.referenzen div.referenzen__content div.referenzen__rows div.referenzen__cell p {
        font-size: 1.802rem;
    }

    section.referenzen div.referenzen__content div.referenzen__rows div.referenzen__cell div.referenzen__cell__left div.referenzen__cell__client {
        padding-right: 1.6rem;
    }

    section.referenzen div.referenzen__content div.referenzen__rows div.referenzen__cell div.referenzen__cell__left div.referenzen__cell__location {
        padding: .6vw 1.6rem;
    }

}